#login {
  width: 300px;
  height: fit-content;
  background: rgba(2, 133, 78, 0.068);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 16px;

  h1 {
    padding: 0;
    margin: 0;
    color: var(--red);
    font-weight: 1000;
  }

  button {
    width: 100%;
  }
}

#center-box {
  justify-content: center;
}

input,
textarea {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 5px;
  width: 100%;
}
