html,
body {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  z-index: 0;
  background: transparent;
  box-shadow: 483px 699px #fff, 497px 1613px #fff, 830px 746px #fff,
    1829px 1534px #fff, 1382px 1589px #fff, 114px 950px #fff, 368px 545px #fff,
    819px 1675px #fff, 70px 1142px #fff, 1130px 30px #fff, 139px 1031px #fff,
    246px 1947px #fff, 635px 1276px #fff, 1425px 661px #fff, 49px 87px #fff,
    1086px 802px #fff, 1468px 1885px #fff, 1639px 228px #fff, 1415px 1841px #fff,
    933px 1139px #fff, 1744px 591px #fff, 1697px 1072px #fff, 629px 1219px #fff,
    1570px 1625px #fff, 1930px 1037px #fff, 298px 81px #fff, 406px 347px #fff,
    1449px 1513px #fff, 573px 701px #fff, 1963px 368px #fff, 1346px 1536px #fff,
    1910px 1308px #fff, 711px 921px #fff, 217px 936px #fff, 1910px 1946px #fff,
    884px 1159px #fff, 1843px 261px #fff, 263px 1656px #fff, 1714px 1221px #fff,
    1191px 78px #fff, 1932px 302px #fff, 652px 155px #fff, 261px 1332px #fff,
    290px 1491px #fff, 103px 1838px #fff, 832px 930px #fff, 392px 885px #fff,
    71px 1827px #fff, 1233px 1715px #fff, 989px 1309px #fff, 479px 1406px #fff,
    374px 1302px #fff, 1492px 158px #fff, 158px 1460px #fff, 1761px 891px #fff,
    1022px 1081px #fff, 1105px 1804px #fff, 1355px 324px #fff, 894px 1894px #fff,
    1230px 347px #fff, 500px 1025px #fff, 1188px 454px #fff, 745px 1122px #fff,
    1793px 1759px #fff, 1614px 1866px #fff, 286px 1698px #fff, 522px 423px #fff,
    1999px 863px #fff, 1999px 730px #fff, 1823px 94px #fff, 240px 1967px #fff,
    1655px 480px #fff, 879px 416px #fff, 1294px 1084px #fff, 1991px 327px #fff,
    656px 585px #fff, 1415px 181px #fff, 425px 1359px #fff, 1258px 619px #fff,
    1656px 133px #fff, 1960px 1014px #fff, 331px 621px #fff, 1226px 1633px #fff,
    179px 1874px #fff, 530px 1370px #fff, 1474px 622px #fff, 250px 502px #fff,
    728px 1406px #fff, 1695px 1154px #fff, 1708px 1574px #fff, 1622px 856px #fff,
    71px 1477px #fff, 847px 730px #fff, 463px 775px #fff, 931px 948px #fff,
    434px 255px #fff, 295px 1522px #fff, 1382px 297px #fff, 666px 1860px #fff,
    1607px 345px #fff, 1095px 471px #fff, 566px 244px #fff, 1280px 1123px #fff,
    1109px 1638px #fff, 1961px 368px #fff, 1672px 1397px #fff, 930px 290px #fff,
    667px 1161px #fff, 271px 1682px #fff, 1382px 1728px #fff, 1010px 381px #fff,
    1157px 1222px #fff, 1534px 1233px #fff, 1604px 181px #fff, 690px 450px #fff,
    1393px 600px #fff, 874px 642px #fff, 442px 1255px #fff, 780px 54px #fff,
    759px 1758px #fff, 1313px 48px #fff, 3px 115px #fff, 1698px 1308px #fff,
    1595px 1349px #fff, 14px 1805px #fff, 1865px 497px #fff, 1116px 1481px #fff,
    49px 1750px #fff, 841px 677px #fff, 1373px 1257px #fff, 1613px 1026px #fff,
    1182px 1588px #fff, 514px 1777px #fff, 882px 1563px #fff, 91px 964px #fff,
    1907px 1617px #fff, 1439px 166px #fff, 909px 925px #fff, 33px 1703px #fff,
    774px 1196px #fff, 684px 554px #fff, 1018px 1712px #fff, 461px 1556px #fff,
    1087px 922px #fff, 1955px 972px #fff, 385px 527px #fff, 91px 386px #fff,
    1322px 447px #fff, 534px 1842px #fff, 547px 233px #fff, 817px 1178px #fff,
    1145px 1120px #fff, 1753px 32px #fff, 191px 1761px #fff, 943px 231px #fff,
    970px 650px #fff, 1172px 1621px #fff, 1005px 1491px #fff, 1434px 555px #fff,
    1653px 1565px #fff, 100px 1483px #fff, 44px 662px #fff, 1644px 1932px #fff,
    160px 257px #fff, 1282px 534px #fff, 852px 1079px #fff, 546px 284px #fff,
    1684px 1204px #fff, 445px 990px #fff, 1733px 930px #fff, 333px 1096px #fff,
    750px 1971px #fff, 3px 1863px #fff, 467px 632px #fff, 679px 637px #fff,
    1451px 768px #fff, 1133px 1110px #fff, 716px 805px #fff, 1813px 531px #fff,
    163px 386px #fff, 567px 113px #fff, 1994px 923px #fff, 783px 503px #fff,
    789px 1517px #fff, 1211px 1394px #fff, 652px 1015px #fff, 207px 1634px #fff,
    237px 298px #fff, 254px 67px #fff, 821px 1258px #fff, 1369px 1288px #fff,
    467px 239px #fff, 1892px 1458px #fff, 615px 625px #fff, 1900px 57px #fff,
    325px 1824px #fff, 389px 980px #fff, 1640px 717px #fff, 1352px 896px #fff,
    1001px 1399px #fff, 1980px 1917px #fff, 1822px 1258px #fff,
    1515px 684px #fff, 1231px 1054px #fff, 403px 1764px #fff, 1951px 302px #fff,
    1423px 592px #fff, 796px 1278px #fff, 1781px 511px #fff, 78px 427px #fff,
    1354px 1781px #fff, 1420px 908px #fff, 143px 874px #fff, 276px 465px #fff,
    1760px 889px #fff, 1461px 1036px #fff, 1761px 252px #fff, 1855px 1389px #fff,
    1820px 195px #fff, 1329px 1817px #fff, 812px 1082px #fff, 45px 1406px #fff,
    816px 743px #fff, 1605px 1588px #fff, 1126px 1383px #fff, 1646px 1153px #fff,
    967px 1628px #fff, 1821px 1186px #fff, 608px 657px #fff, 287px 782px #fff,
    850px 1319px #fff, 1484px 1085px #fff, 1502px 679px #fff, 1563px 747px #fff,
    1245px 534px #fff, 1745px 808px #fff, 280px 1745px #fff, 371px 1558px #fff,
    1824px 1991px #fff, 1036px 568px #fff, 65px 460px #fff, 376px 227px #fff,
    1768px 633px #fff, 1387px 1974px #fff, 434px 450px #fff, 1296px 1420px #fff,
    652px 384px #fff, 1845px 1797px #fff, 27px 480px #fff, 1351px 929px #fff,
    817px 1965px #fff, 977px 76px #fff, 1912px 1671px #fff, 891px 1938px #fff,
    266px 1887px #fff, 1737px 1762px #fff, 826px 1417px #fff, 1997px 943px #fff,
    1559px 1889px #fff, 1099px 421px #fff, 394px 21px #fff, 1725px 377px #fff,
    570px 429px #fff, 65px 1881px #fff, 1397px 236px #fff, 226px 1453px #fff,
    1310px 1821px #fff, 1275px 1077px #fff, 1246px 1001px #fff,
    1951px 792px #fff, 904px 1661px #fff, 1820px 1700px #fff, 1053px 316px #fff,
    1591px 828px #fff, 1079px 1831px #fff, 102px 301px #fff, 781px 715px #fff,
    1760px 174px #fff, 576px 825px #fff, 481px 1159px #fff, 1030px 1449px #fff,
    1454px 1653px #fff, 1937px 1557px #fff, 1628px 872px #fff, 430px 528px #fff,
    1749px 1925px #fff, 1701px 605px #fff, 1161px 226px #fff, 146px 858px #fff,
    1972px 564px #fff, 919px 1034px #fff, 739px 571px #fff, 1315px 879px #fff,
    1904px 1912px #fff, 597px 1158px #fff, 880px 1562px #fff, 967px 1392px #fff,
    1970px 1762px #fff, 1008px 247px #fff, 1176px 1665px #fff, 1154px 265px #fff,
    486px 1961px #fff, 483px 1211px #fff, 1154px 1636px #fff, 1234px 191px #fff,
    814px 1145px #fff, 205px 1808px #fff, 338px 1610px #fff, 504px 1982px #fff,
    295px 320px #fff, 239px 1893px #fff, 1140px 1596px #fff, 1478px 293px #fff,
    1491px 979px #fff, 1083px 257px #fff, 1751px 1666px #fff, 948px 123px #fff,
    1872px 1895px #fff, 196px 1470px #fff, 789px 749px #fff, 1627px 1413px #fff,
    1722px 632px #fff, 706px 1915px #fff, 231px 104px #fff, 1102px 1965px #fff,
    100px 1148px #fff, 244px 1793px #fff, 469px 962px #fff, 1909px 1871px #fff,
    1558px 1612px #fff, 380px 636px #fff, 137px 1718px #fff, 54px 1986px #fff,
    269px 622px #fff, 289px 1105px #fff, 66px 945px #fff, 399px 415px #fff,
    1676px 854px #fff, 984px 1197px #fff, 669px 1897px #fff, 1192px 1392px #fff,
    215px 720px #fff, 959px 1506px #fff, 1373px 1627px #fff, 1513px 383px #fff,
    222px 1382px #fff, 1862px 1980px #fff, 1915px 120px #fff, 966px 828px #fff,
    1032px 1734px #fff, 1331px 1737px #fff, 1859px 1491px #fff,
    1423px 520px #fff, 208px 499px #fff, 361px 1427px #fff, 1214px 532px #fff,
    694px 1528px #fff, 20px 859px #fff, 1554px 1516px #fff, 1662px 1326px #fff,
    1649px 516px #fff, 1984px 538px #fff, 884px 1517px #fff, 774px 1431px #fff,
    377px 609px #fff, 1061px 230px #fff, 165px 1767px #fff, 1897px 985px #fff,
    487px 773px #fff, 164px 862px #fff, 1193px 1093px #fff, 271px 355px #fff,
    1512px 1656px #fff, 278px 589px #fff, 1741px 1715px #fff, 1161px 1748px #fff,
    1032px 550px #fff, 1092px 246px #fff, 1975px 1206px #fff, 1365px 1790px #fff,
    575px 1728px #fff, 956px 89px #fff, 1615px 110px #fff, 192px 1760px #fff,
    7px 423px #fff, 1854px 124px #fff, 371px 696px #fff, 6px 878px #fff,
    581px 1546px #fff, 760px 587px #fff, 845px 637px #fff, 1739px 366px #fff,
    1871px 498px #fff, 1231px 1083px #fff, 1768px 1665px #fff,
    1607px 1067px #fff, 1320px 356px #fff, 1896px 82px #fff, 712px 1919px #fff,
    1280px 1848px #fff, 1498px 206px #fff, 525px 206px #fff, 1731px 1572px #fff,
    1521px 1198px #fff, 1821px 1283px #fff, 143px 1662px #fff, 1089px 51px #fff,
    1793px 315px #fff, 40px 1638px #fff, 150px 1065px #fff, 725px 1345px #fff,
    25px 525px #fff, 1845px 698px #fff, 1640px 1011px #fff, 1801px 33px #fff,
    539px 352px #fff, 1968px 842px #fff, 157px 1732px #fff, 837px 1890px #fff,
    310px 1369px #fff, 1453px 1496px #fff, 674px 725px #fff, 289px 370px #fff,
    1448px 510px #fff, 1440px 618px #fff, 1029px 1199px #fff, 1886px 145px #fff,
    1482px 1373px #fff, 105px 1544px #fff, 1996px 1496px #fff, 42px 534px #fff,
    290px 1256px #fff, 834px 391px #fff, 1247px 683px #fff, 1562px 448px #fff,
    515px 1446px #fff, 248px 1363px #fff, 1313px 565px #fff, 612px 1431px #fff,
    1867px 1819px #fff, 331px 35px #fff, 1090px 1022px #fff, 884px 1382px #fff,
    993px 908px #fff, 1683px 526px #fff, 284px 1627px #fff, 1157px 893px #fff,
    120px 1874px #fff, 1489px 338px #fff, 513px 1974px #fff, 741px 156px #fff,
    596px 1915px #fff, 1673px 783px #fff, 557px 1435px #fff, 1384px 1647px #fff,
    1001px 645px #fff, 239px 277px #fff, 821px 978px #fff, 1193px 215px #fff,
    952px 704px #fff, 1714px 542px #fff, 1402px 1937px #fff, 213px 347px #fff,
    722px 511px #fff, 1458px 1709px #fff, 1888px 798px #fff, 1825px 940px #fff,
    1095px 104px #fff, 471px 1558px #fff, 1932px 635px #fff, 1148px 43px #fff,
    1653px 1126px #fff, 1611px 310px #fff, 1995px 1974px #fff,
    1061px 1182px #fff, 31px 524px #fff, 1329px 1433px #fff, 1648px 151px #fff,
    455px 1559px #fff, 194px 1428px #fff, 8px 1057px #fff, 959px 755px #fff,
    1410px 1593px #fff, 154px 577px #fff, 395px 647px #fff, 988px 1855px #fff,
    1193px 942px #fff, 948px 264px #fff, 221px 1086px #fff, 700px 1726px #fff,
    1837px 1479px #fff, 845px 817px #fff, 1593px 1991px #fff, 87px 1063px #fff,
    919px 101px #fff, 563px 286px #fff, 1370px 1179px #fff, 1914px 555px #fff,
    34px 1802px #fff, 1425px 193px #fff, 915px 240px #fff, 630px 1939px #fff,
    1915px 1267px #fff, 1481px 1163px #fff, 1044px 333px #fff, 1093px 762px #fff,
    749px 1246px #fff, 597px 1884px #fff, 1801px 591px #fff, 1766px 1506px #fff,
    172px 1440px #fff, 63px 42px #fff, 856px 1203px #fff, 1827px 1170px #fff,
    474px 285px #fff, 144px 1103px #fff, 1005px 231px #fff, 666px 1564px #fff,
    1099px 1356px #fff, 1005px 1937px #fff, 1294px 1060px #fff,
    1717px 1277px #fff, 1409px 1987px #fff, 1096px 189px #fff,
    1906px 1019px #fff, 470px 695px #fff, 603px 570px #fff, 845px 1798px #fff,
    957px 1348px #fff, 1114px 926px #fff, 431px 1483px #fff, 1054px 443px #fff,
    1023px 172px #fff, 265px 1104px #fff, 1018px 1408px #fff, 1976px 440px #fff,
    1905px 1557px #fff, 1715px 1062px #fff, 643px 791px #fff, 8px 1664px #fff,
    1914px 361px #fff, 1360px 1154px #fff, 1573px 139px #fff, 1807px 1678px #fff,
    595px 1894px #fff, 940px 750px #fff, 1093px 214px #fff, 1852px 1472px #fff,
    1436px 394px #fff, 1015px 525px #fff, 759px 1229px #fff, 1182px 552px #fff,
    1174px 526px #fff, 781px 800px #fff, 852px 1392px #fff, 115px 130px #fff,
    373px 80px #fff, 59px 754px #fff, 41px 1476px #fff, 382px 1481px #fff,
    65px 1137px #fff, 689px 1149px #fff, 53px 586px #fff, 688px 557px #fff,
    1678px 566px #fff, 240px 1340px #fff, 1903px 588px #fff, 1485px 204px #fff,
    1937px 280px #fff, 1683px 706px #fff, 1127px 1148px #fff, 1199px 1387px #fff,
    1397px 449px #fff, 1445px 1006px #fff, 959px 257px #fff, 833px 855px #fff,
    1972px 1818px #fff, 1391px 1734px #fff, 1966px 1633px #fff,
    1748px 1390px #fff, 1189px 1670px #fff, 375px 539px #fff, 237px 1777px #fff,
    337px 693px #fff, 1554px 1577px #fff, 728px 1936px #fff, 1783px 1952px #fff,
    360px 931px #fff, 827px 2000px #fff, 1134px 988px #fff, 573px 1245px #fff,
    268px 1803px #fff, 354px 1555px #fff, 476px 1467px #fff, 253px 268px #fff,
    431px 808px #fff, 249px 1944px #fff, 1377px 208px #fff, 1570px 588px #fff,
    954px 1058px #fff, 153px 515px #fff, 1424px 1218px #fff, 77px 980px #fff,
    1081px 1477px #fff, 1208px 914px #fff, 31px 811px #fff, 119px 1798px #fff,
    1341px 1066px #fff, 212px 385px #fff, 740px 945px #fff, 1517px 1632px #fff,
    1400px 478px #fff, 743px 301px #fff, 917px 1777px #fff, 753px 1840px #fff,
    227px 699px #fff, 432px 930px #fff, 1621px 1257px #fff, 1448px 1799px #fff,
    1334px 90px #fff, 1383px 418px #fff, 1004px 763px #fff, 1455px 1885px #fff,
    501px 1160px #fff, 236px 9px #fff, 1435px 369px #fff, 1453px 215px #fff,
    764px 1333px #fff, 1139px 150px #fff, 1124px 1958px #fff, 596px 1434px #fff,
    1433px 556px #fff, 1147px 1435px #fff, 42px 1912px #fff, 1153px 1724px #fff,
    1051px 1254px #fff, 423px 468px #fff, 1826px 1948px #fff, 1096px 1209px #fff,
    1755px 607px #fff, 87px 1766px #fff, 740px 451px #fff, 309px 1353px #fff,
    1438px 1688px #fff, 1582px 1586px #fff, 1342px 1387px #fff,
    1253px 238px #fff, 355px 1101px #fff, 1523px 1503px #fff, 839px 149px #fff,
    1610px 340px #fff, 620px 1204px #fff, 571px 1644px #fff, 908px 616px #fff,
    1583px 1161px #fff, 508px 667px #fff, 677px 1462px #fff, 439px 1319px #fff,
    1670px 1434px #fff, 762px 1101px #fff, 1705px 1799px #fff,
    1947px 1775px #fff, 160px 1834px #fff, 1841px 646px #fff, 1023px 1061px #fff,
    238px 1862px #fff, 1559px 1401px #fff, 1786px 1467px #fff, 636px 572px #fff,
    42px 1643px #fff, 1273px 1566px #fff, 1978px 1884px #fff, 1181px 1919px #fff,
    919px 855px #fff, 646px 1442px #fff, 866px 377px #fff, 97px 947px #fff,
    1300px 903px #fff, 294px 272px #fff, 1426px 981px #fff, 9px 961px #fff,
    1997px 1060px #fff, 134px 918px #fff, 623px 1322px #fff, 174px 317px #fff,
    1385px 236px #fff, 1466px 1307px #fff, 1576px 968px #fff, 443px 1650px #fff,
    1244px 1873px #fff, 1318px 109px #fff, 836px 279px #fff, 103px 1333px #fff,
    356px 1105px #fff, 350px 811px #fff, 1338px 889px #fff, 576px 152px #fff,
    692px 102px #fff, 357px 1286px #fff, 883px 1309px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  z-index: 0;
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 483px 699px #fff, 497px 1613px #fff, 830px 746px #fff,
    1829px 1534px #fff, 1382px 1589px #fff, 114px 950px #fff, 368px 545px #fff,
    819px 1675px #fff, 70px 1142px #fff, 1130px 30px #fff, 139px 1031px #fff,
    246px 1947px #fff, 635px 1276px #fff, 1425px 661px #fff, 49px 87px #fff,
    1086px 802px #fff, 1468px 1885px #fff, 1639px 228px #fff, 1415px 1841px #fff,
    933px 1139px #fff, 1744px 591px #fff, 1697px 1072px #fff, 629px 1219px #fff,
    1570px 1625px #fff, 1930px 1037px #fff, 298px 81px #fff, 406px 347px #fff,
    1449px 1513px #fff, 573px 701px #fff, 1963px 368px #fff, 1346px 1536px #fff,
    1910px 1308px #fff, 711px 921px #fff, 217px 936px #fff, 1910px 1946px #fff,
    884px 1159px #fff, 1843px 261px #fff, 263px 1656px #fff, 1714px 1221px #fff,
    1191px 78px #fff, 1932px 302px #fff, 652px 155px #fff, 261px 1332px #fff,
    290px 1491px #fff, 103px 1838px #fff, 832px 930px #fff, 392px 885px #fff,
    71px 1827px #fff, 1233px 1715px #fff, 989px 1309px #fff, 479px 1406px #fff,
    374px 1302px #fff, 1492px 158px #fff, 158px 1460px #fff, 1761px 891px #fff,
    1022px 1081px #fff, 1105px 1804px #fff, 1355px 324px #fff, 894px 1894px #fff,
    1230px 347px #fff, 500px 1025px #fff, 1188px 454px #fff, 745px 1122px #fff,
    1793px 1759px #fff, 1614px 1866px #fff, 286px 1698px #fff, 522px 423px #fff,
    1999px 863px #fff, 1999px 730px #fff, 1823px 94px #fff, 240px 1967px #fff,
    1655px 480px #fff, 879px 416px #fff, 1294px 1084px #fff, 1991px 327px #fff,
    656px 585px #fff, 1415px 181px #fff, 425px 1359px #fff, 1258px 619px #fff,
    1656px 133px #fff, 1960px 1014px #fff, 331px 621px #fff, 1226px 1633px #fff,
    179px 1874px #fff, 530px 1370px #fff, 1474px 622px #fff, 250px 502px #fff,
    728px 1406px #fff, 1695px 1154px #fff, 1708px 1574px #fff, 1622px 856px #fff,
    71px 1477px #fff, 847px 730px #fff, 463px 775px #fff, 931px 948px #fff,
    434px 255px #fff, 295px 1522px #fff, 1382px 297px #fff, 666px 1860px #fff,
    1607px 345px #fff, 1095px 471px #fff, 566px 244px #fff, 1280px 1123px #fff,
    1109px 1638px #fff, 1961px 368px #fff, 1672px 1397px #fff, 930px 290px #fff,
    667px 1161px #fff, 271px 1682px #fff, 1382px 1728px #fff, 1010px 381px #fff,
    1157px 1222px #fff, 1534px 1233px #fff, 1604px 181px #fff, 690px 450px #fff,
    1393px 600px #fff, 874px 642px #fff, 442px 1255px #fff, 780px 54px #fff,
    759px 1758px #fff, 1313px 48px #fff, 3px 115px #fff, 1698px 1308px #fff,
    1595px 1349px #fff, 14px 1805px #fff, 1865px 497px #fff, 1116px 1481px #fff,
    49px 1750px #fff, 841px 677px #fff, 1373px 1257px #fff, 1613px 1026px #fff,
    1182px 1588px #fff, 514px 1777px #fff, 882px 1563px #fff, 91px 964px #fff,
    1907px 1617px #fff, 1439px 166px #fff, 909px 925px #fff, 33px 1703px #fff,
    774px 1196px #fff, 684px 554px #fff, 1018px 1712px #fff, 461px 1556px #fff,
    1087px 922px #fff, 1955px 972px #fff, 385px 527px #fff, 91px 386px #fff,
    1322px 447px #fff, 534px 1842px #fff, 547px 233px #fff, 817px 1178px #fff,
    1145px 1120px #fff, 1753px 32px #fff, 191px 1761px #fff, 943px 231px #fff,
    970px 650px #fff, 1172px 1621px #fff, 1005px 1491px #fff, 1434px 555px #fff,
    1653px 1565px #fff, 100px 1483px #fff, 44px 662px #fff, 1644px 1932px #fff,
    160px 257px #fff, 1282px 534px #fff, 852px 1079px #fff, 546px 284px #fff,
    1684px 1204px #fff, 445px 990px #fff, 1733px 930px #fff, 333px 1096px #fff,
    750px 1971px #fff, 3px 1863px #fff, 467px 632px #fff, 679px 637px #fff,
    1451px 768px #fff, 1133px 1110px #fff, 716px 805px #fff, 1813px 531px #fff,
    163px 386px #fff, 567px 113px #fff, 1994px 923px #fff, 783px 503px #fff,
    789px 1517px #fff, 1211px 1394px #fff, 652px 1015px #fff, 207px 1634px #fff,
    237px 298px #fff, 254px 67px #fff, 821px 1258px #fff, 1369px 1288px #fff,
    467px 239px #fff, 1892px 1458px #fff, 615px 625px #fff, 1900px 57px #fff,
    325px 1824px #fff, 389px 980px #fff, 1640px 717px #fff, 1352px 896px #fff,
    1001px 1399px #fff, 1980px 1917px #fff, 1822px 1258px #fff,
    1515px 684px #fff, 1231px 1054px #fff, 403px 1764px #fff, 1951px 302px #fff,
    1423px 592px #fff, 796px 1278px #fff, 1781px 511px #fff, 78px 427px #fff,
    1354px 1781px #fff, 1420px 908px #fff, 143px 874px #fff, 276px 465px #fff,
    1760px 889px #fff, 1461px 1036px #fff, 1761px 252px #fff, 1855px 1389px #fff,
    1820px 195px #fff, 1329px 1817px #fff, 812px 1082px #fff, 45px 1406px #fff,
    816px 743px #fff, 1605px 1588px #fff, 1126px 1383px #fff, 1646px 1153px #fff,
    967px 1628px #fff, 1821px 1186px #fff, 608px 657px #fff, 287px 782px #fff,
    850px 1319px #fff, 1484px 1085px #fff, 1502px 679px #fff, 1563px 747px #fff,
    1245px 534px #fff, 1745px 808px #fff, 280px 1745px #fff, 371px 1558px #fff,
    1824px 1991px #fff, 1036px 568px #fff, 65px 460px #fff, 376px 227px #fff,
    1768px 633px #fff, 1387px 1974px #fff, 434px 450px #fff, 1296px 1420px #fff,
    652px 384px #fff, 1845px 1797px #fff, 27px 480px #fff, 1351px 929px #fff,
    817px 1965px #fff, 977px 76px #fff, 1912px 1671px #fff, 891px 1938px #fff,
    266px 1887px #fff, 1737px 1762px #fff, 826px 1417px #fff, 1997px 943px #fff,
    1559px 1889px #fff, 1099px 421px #fff, 394px 21px #fff, 1725px 377px #fff,
    570px 429px #fff, 65px 1881px #fff, 1397px 236px #fff, 226px 1453px #fff,
    1310px 1821px #fff, 1275px 1077px #fff, 1246px 1001px #fff,
    1951px 792px #fff, 904px 1661px #fff, 1820px 1700px #fff, 1053px 316px #fff,
    1591px 828px #fff, 1079px 1831px #fff, 102px 301px #fff, 781px 715px #fff,
    1760px 174px #fff, 576px 825px #fff, 481px 1159px #fff, 1030px 1449px #fff,
    1454px 1653px #fff, 1937px 1557px #fff, 1628px 872px #fff, 430px 528px #fff,
    1749px 1925px #fff, 1701px 605px #fff, 1161px 226px #fff, 146px 858px #fff,
    1972px 564px #fff, 919px 1034px #fff, 739px 571px #fff, 1315px 879px #fff,
    1904px 1912px #fff, 597px 1158px #fff, 880px 1562px #fff, 967px 1392px #fff,
    1970px 1762px #fff, 1008px 247px #fff, 1176px 1665px #fff, 1154px 265px #fff,
    486px 1961px #fff, 483px 1211px #fff, 1154px 1636px #fff, 1234px 191px #fff,
    814px 1145px #fff, 205px 1808px #fff, 338px 1610px #fff, 504px 1982px #fff,
    295px 320px #fff, 239px 1893px #fff, 1140px 1596px #fff, 1478px 293px #fff,
    1491px 979px #fff, 1083px 257px #fff, 1751px 1666px #fff, 948px 123px #fff,
    1872px 1895px #fff, 196px 1470px #fff, 789px 749px #fff, 1627px 1413px #fff,
    1722px 632px #fff, 706px 1915px #fff, 231px 104px #fff, 1102px 1965px #fff,
    100px 1148px #fff, 244px 1793px #fff, 469px 962px #fff, 1909px 1871px #fff,
    1558px 1612px #fff, 380px 636px #fff, 137px 1718px #fff, 54px 1986px #fff,
    269px 622px #fff, 289px 1105px #fff, 66px 945px #fff, 399px 415px #fff,
    1676px 854px #fff, 984px 1197px #fff, 669px 1897px #fff, 1192px 1392px #fff,
    215px 720px #fff, 959px 1506px #fff, 1373px 1627px #fff, 1513px 383px #fff,
    222px 1382px #fff, 1862px 1980px #fff, 1915px 120px #fff, 966px 828px #fff,
    1032px 1734px #fff, 1331px 1737px #fff, 1859px 1491px #fff,
    1423px 520px #fff, 208px 499px #fff, 361px 1427px #fff, 1214px 532px #fff,
    694px 1528px #fff, 20px 859px #fff, 1554px 1516px #fff, 1662px 1326px #fff,
    1649px 516px #fff, 1984px 538px #fff, 884px 1517px #fff, 774px 1431px #fff,
    377px 609px #fff, 1061px 230px #fff, 165px 1767px #fff, 1897px 985px #fff,
    487px 773px #fff, 164px 862px #fff, 1193px 1093px #fff, 271px 355px #fff,
    1512px 1656px #fff, 278px 589px #fff, 1741px 1715px #fff, 1161px 1748px #fff,
    1032px 550px #fff, 1092px 246px #fff, 1975px 1206px #fff, 1365px 1790px #fff,
    575px 1728px #fff, 956px 89px #fff, 1615px 110px #fff, 192px 1760px #fff,
    7px 423px #fff, 1854px 124px #fff, 371px 696px #fff, 6px 878px #fff,
    581px 1546px #fff, 760px 587px #fff, 845px 637px #fff, 1739px 366px #fff,
    1871px 498px #fff, 1231px 1083px #fff, 1768px 1665px #fff,
    1607px 1067px #fff, 1320px 356px #fff, 1896px 82px #fff, 712px 1919px #fff,
    1280px 1848px #fff, 1498px 206px #fff, 525px 206px #fff, 1731px 1572px #fff,
    1521px 1198px #fff, 1821px 1283px #fff, 143px 1662px #fff, 1089px 51px #fff,
    1793px 315px #fff, 40px 1638px #fff, 150px 1065px #fff, 725px 1345px #fff,
    25px 525px #fff, 1845px 698px #fff, 1640px 1011px #fff, 1801px 33px #fff,
    539px 352px #fff, 1968px 842px #fff, 157px 1732px #fff, 837px 1890px #fff,
    310px 1369px #fff, 1453px 1496px #fff, 674px 725px #fff, 289px 370px #fff,
    1448px 510px #fff, 1440px 618px #fff, 1029px 1199px #fff, 1886px 145px #fff,
    1482px 1373px #fff, 105px 1544px #fff, 1996px 1496px #fff, 42px 534px #fff,
    290px 1256px #fff, 834px 391px #fff, 1247px 683px #fff, 1562px 448px #fff,
    515px 1446px #fff, 248px 1363px #fff, 1313px 565px #fff, 612px 1431px #fff,
    1867px 1819px #fff, 331px 35px #fff, 1090px 1022px #fff, 884px 1382px #fff,
    993px 908px #fff, 1683px 526px #fff, 284px 1627px #fff, 1157px 893px #fff,
    120px 1874px #fff, 1489px 338px #fff, 513px 1974px #fff, 741px 156px #fff,
    596px 1915px #fff, 1673px 783px #fff, 557px 1435px #fff, 1384px 1647px #fff,
    1001px 645px #fff, 239px 277px #fff, 821px 978px #fff, 1193px 215px #fff,
    952px 704px #fff, 1714px 542px #fff, 1402px 1937px #fff, 213px 347px #fff,
    722px 511px #fff, 1458px 1709px #fff, 1888px 798px #fff, 1825px 940px #fff,
    1095px 104px #fff, 471px 1558px #fff, 1932px 635px #fff, 1148px 43px #fff,
    1653px 1126px #fff, 1611px 310px #fff, 1995px 1974px #fff,
    1061px 1182px #fff, 31px 524px #fff, 1329px 1433px #fff, 1648px 151px #fff,
    455px 1559px #fff, 194px 1428px #fff, 8px 1057px #fff, 959px 755px #fff,
    1410px 1593px #fff, 154px 577px #fff, 395px 647px #fff, 988px 1855px #fff,
    1193px 942px #fff, 948px 264px #fff, 221px 1086px #fff, 700px 1726px #fff,
    1837px 1479px #fff, 845px 817px #fff, 1593px 1991px #fff, 87px 1063px #fff,
    919px 101px #fff, 563px 286px #fff, 1370px 1179px #fff, 1914px 555px #fff,
    34px 1802px #fff, 1425px 193px #fff, 915px 240px #fff, 630px 1939px #fff,
    1915px 1267px #fff, 1481px 1163px #fff, 1044px 333px #fff, 1093px 762px #fff,
    749px 1246px #fff, 597px 1884px #fff, 1801px 591px #fff, 1766px 1506px #fff,
    172px 1440px #fff, 63px 42px #fff, 856px 1203px #fff, 1827px 1170px #fff,
    474px 285px #fff, 144px 1103px #fff, 1005px 231px #fff, 666px 1564px #fff,
    1099px 1356px #fff, 1005px 1937px #fff, 1294px 1060px #fff,
    1717px 1277px #fff, 1409px 1987px #fff, 1096px 189px #fff,
    1906px 1019px #fff, 470px 695px #fff, 603px 570px #fff, 845px 1798px #fff,
    957px 1348px #fff, 1114px 926px #fff, 431px 1483px #fff, 1054px 443px #fff,
    1023px 172px #fff, 265px 1104px #fff, 1018px 1408px #fff, 1976px 440px #fff,
    1905px 1557px #fff, 1715px 1062px #fff, 643px 791px #fff, 8px 1664px #fff,
    1914px 361px #fff, 1360px 1154px #fff, 1573px 139px #fff, 1807px 1678px #fff,
    595px 1894px #fff, 940px 750px #fff, 1093px 214px #fff, 1852px 1472px #fff,
    1436px 394px #fff, 1015px 525px #fff, 759px 1229px #fff, 1182px 552px #fff,
    1174px 526px #fff, 781px 800px #fff, 852px 1392px #fff, 115px 130px #fff,
    373px 80px #fff, 59px 754px #fff, 41px 1476px #fff, 382px 1481px #fff,
    65px 1137px #fff, 689px 1149px #fff, 53px 586px #fff, 688px 557px #fff,
    1678px 566px #fff, 240px 1340px #fff, 1903px 588px #fff, 1485px 204px #fff,
    1937px 280px #fff, 1683px 706px #fff, 1127px 1148px #fff, 1199px 1387px #fff,
    1397px 449px #fff, 1445px 1006px #fff, 959px 257px #fff, 833px 855px #fff,
    1972px 1818px #fff, 1391px 1734px #fff, 1966px 1633px #fff,
    1748px 1390px #fff, 1189px 1670px #fff, 375px 539px #fff, 237px 1777px #fff,
    337px 693px #fff, 1554px 1577px #fff, 728px 1936px #fff, 1783px 1952px #fff,
    360px 931px #fff, 827px 2000px #fff, 1134px 988px #fff, 573px 1245px #fff,
    268px 1803px #fff, 354px 1555px #fff, 476px 1467px #fff, 253px 268px #fff,
    431px 808px #fff, 249px 1944px #fff, 1377px 208px #fff, 1570px 588px #fff,
    954px 1058px #fff, 153px 515px #fff, 1424px 1218px #fff, 77px 980px #fff,
    1081px 1477px #fff, 1208px 914px #fff, 31px 811px #fff, 119px 1798px #fff,
    1341px 1066px #fff, 212px 385px #fff, 740px 945px #fff, 1517px 1632px #fff,
    1400px 478px #fff, 743px 301px #fff, 917px 1777px #fff, 753px 1840px #fff,
    227px 699px #fff, 432px 930px #fff, 1621px 1257px #fff, 1448px 1799px #fff,
    1334px 90px #fff, 1383px 418px #fff, 1004px 763px #fff, 1455px 1885px #fff,
    501px 1160px #fff, 236px 9px #fff, 1435px 369px #fff, 1453px 215px #fff,
    764px 1333px #fff, 1139px 150px #fff, 1124px 1958px #fff, 596px 1434px #fff,
    1433px 556px #fff, 1147px 1435px #fff, 42px 1912px #fff, 1153px 1724px #fff,
    1051px 1254px #fff, 423px 468px #fff, 1826px 1948px #fff, 1096px 1209px #fff,
    1755px 607px #fff, 87px 1766px #fff, 740px 451px #fff, 309px 1353px #fff,
    1438px 1688px #fff, 1582px 1586px #fff, 1342px 1387px #fff,
    1253px 238px #fff, 355px 1101px #fff, 1523px 1503px #fff, 839px 149px #fff,
    1610px 340px #fff, 620px 1204px #fff, 571px 1644px #fff, 908px 616px #fff,
    1583px 1161px #fff, 508px 667px #fff, 677px 1462px #fff, 439px 1319px #fff,
    1670px 1434px #fff, 762px 1101px #fff, 1705px 1799px #fff,
    1947px 1775px #fff, 160px 1834px #fff, 1841px 646px #fff, 1023px 1061px #fff,
    238px 1862px #fff, 1559px 1401px #fff, 1786px 1467px #fff, 636px 572px #fff,
    42px 1643px #fff, 1273px 1566px #fff, 1978px 1884px #fff, 1181px 1919px #fff,
    919px 855px #fff, 646px 1442px #fff, 866px 377px #fff, 97px 947px #fff,
    1300px 903px #fff, 294px 272px #fff, 1426px 981px #fff, 9px 961px #fff,
    1997px 1060px #fff, 134px 918px #fff, 623px 1322px #fff, 174px 317px #fff,
    1385px 236px #fff, 1466px 1307px #fff, 1576px 968px #fff, 443px 1650px #fff,
    1244px 1873px #fff, 1318px 109px #fff, 836px 279px #fff, 103px 1333px #fff,
    356px 1105px #fff, 350px 811px #fff, 1338px 889px #fff, 576px 152px #fff,
    692px 102px #fff, 357px 1286px #fff, 883px 1309px #fff;
}

#stars2 {
  z-index: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1888px 896px #fff, 156px 1003px #fff, 1874px 80px #fff,
    1439px 1805px #fff, 1842px 682px #fff, 1980px 537px #fff, 1933px 261px #fff,
    436px 929px #fff, 512px 144px #fff, 730px 1555px #fff, 552px 486px #fff,
    294px 264px #fff, 155px 1163px #fff, 1596px 1595px #fff, 1182px 1199px #fff,
    1500px 597px #fff, 1309px 194px #fff, 288px 545px #fff, 795px 41px #fff,
    1696px 1103px #fff, 889px 916px #fff, 786px 1527px #fff, 1664px 1548px #fff,
    120px 214px #fff, 132px 49px #fff, 1163px 980px #fff, 964px 1897px #fff,
    749px 321px #fff, 293px 1156px #fff, 745px 724px #fff, 988px 914px #fff,
    1044px 867px #fff, 1137px 1427px #fff, 1841px 1017px #fff, 950px 1985px #fff,
    1274px 352px #fff, 685px 1154px #fff, 140px 530px #fff, 911px 702px #fff,
    1261px 198px #fff, 868px 308px #fff, 1660px 1396px #fff, 883px 1036px #fff,
    490px 595px #fff, 842px 1826px #fff, 909px 1458px #fff, 1207px 1137px #fff,
    1510px 486px #fff, 450px 284px #fff, 1057px 1671px #fff, 1525px 619px #fff,
    1189px 876px #fff, 1189px 708px #fff, 661px 1013px #fff, 972px 1496px #fff,
    1835px 1783px #fff, 968px 1093px #fff, 344px 1701px #fff, 1074px 1637px #fff,
    266px 22px #fff, 357px 1835px #fff, 515px 520px #fff, 1025px 555px #fff,
    1774px 768px #fff, 628px 1840px #fff, 412px 166px #fff, 1633px 1416px #fff,
    532px 818px #fff, 1296px 218px #fff, 977px 1321px #fff, 1682px 1264px #fff,
    1878px 179px #fff, 1208px 67px #fff, 1066px 1878px #fff, 714px 145px #fff,
    521px 420px #fff, 707px 1648px #fff, 1184px 1332px #fff, 1772px 1085px #fff,
    396px 534px #fff, 1241px 388px #fff, 206px 1471px #fff, 265px 1358px #fff,
    462px 55px #fff, 1721px 727px #fff, 338px 1887px #fff, 1880px 724px #fff,
    143px 1822px #fff, 1703px 1014px #fff, 1064px 1514px #fff, 308px 157px #fff,
    1304px 984px #fff, 1328px 1775px #fff, 710px 1488px #fff, 30px 985px #fff,
    637px 1012px #fff, 1665px 1675px #fff, 345px 310px #fff, 1488px 216px #fff,
    748px 851px #fff, 1773px 752px #fff, 1177px 356px #fff, 1935px 854px #fff,
    116px 48px #fff, 33px 1824px #fff, 1522px 481px #fff, 448px 1843px #fff,
    776px 1089px #fff, 1329px 1703px #fff, 478px 200px #fff, 1600px 1300px #fff,
    887px 1080px #fff, 305px 345px #fff, 702px 810px #fff, 946px 1277px #fff,
    530px 580px #fff, 226px 1471px #fff, 1843px 45px #fff, 1458px 938px #fff,
    283px 734px #fff, 1874px 54px #fff, 656px 1905px #fff, 767px 1387px #fff,
    1719px 206px #fff, 1705px 1401px #fff, 1088px 761px #fff, 802px 1379px #fff,
    1607px 260px #fff, 1020px 175px #fff, 212px 1913px #fff, 1694px 1524px #fff,
    1051px 723px #fff, 894px 307px #fff, 875px 1160px #fff, 101px 296px #fff,
    1037px 1317px #fff, 1630px 368px #fff, 1216px 106px #fff, 630px 416px #fff,
    1984px 1947px #fff, 1760px 260px #fff, 280px 597px #fff, 1682px 1062px #fff,
    1940px 1610px #fff, 221px 1074px #fff, 1510px 810px #fff, 1492px 1782px #fff,
    142px 1029px #fff, 1989px 26px #fff, 857px 210px #fff, 1509px 1748px #fff,
    247px 1709px #fff, 281px 1843px #fff, 628px 1224px #fff, 1321px 1059px #fff,
    556px 1688px #fff, 1589px 1198px #fff, 1960px 1008px #fff, 104px 1272px #fff,
    1296px 452px #fff, 1041px 1505px #fff, 1582px 915px #fff, 335px 1171px #fff,
    1942px 248px #fff, 1320px 1751px #fff, 308px 1013px #fff, 895px 1256px #fff,
    1269px 50px #fff, 889px 1899px #fff, 1957px 1738px #fff, 1712px 165px #fff,
    1011px 1394px #fff, 1161px 1031px #fff, 525px 1323px #fff,
    1866px 1351px #fff, 717px 1448px #fff, 1129px 1568px #fff, 1686px 261px #fff,
    670px 1451px #fff, 1888px 1693px #fff, 1201px 1949px #fff,
    1334px 1855px #fff, 1218px 291px #fff, 600px 1198px #fff, 333px 1330px #fff,
    1023px 147px #fff, 921px 538px #fff, 1360px 1939px #fff, 1301px 84px #fff,
    258px 1498px #fff, 678px 1745px #fff, 1224px 202px #fff, 1543px 771px #fff,
    55px 412px #fff, 660px 88px #fff, 188px 459px #fff, 1637px 163px #fff,
    1774px 1283px #fff, 417px 1363px #fff, 293px 646px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  z-index: 0;
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1888px 896px #fff, 156px 1003px #fff, 1874px 80px #fff,
    1439px 1805px #fff, 1842px 682px #fff, 1980px 537px #fff, 1933px 261px #fff,
    436px 929px #fff, 512px 144px #fff, 730px 1555px #fff, 552px 486px #fff,
    294px 264px #fff, 155px 1163px #fff, 1596px 1595px #fff, 1182px 1199px #fff,
    1500px 597px #fff, 1309px 194px #fff, 288px 545px #fff, 795px 41px #fff,
    1696px 1103px #fff, 889px 916px #fff, 786px 1527px #fff, 1664px 1548px #fff,
    120px 214px #fff, 132px 49px #fff, 1163px 980px #fff, 964px 1897px #fff,
    749px 321px #fff, 293px 1156px #fff, 745px 724px #fff, 988px 914px #fff,
    1044px 867px #fff, 1137px 1427px #fff, 1841px 1017px #fff, 950px 1985px #fff,
    1274px 352px #fff, 685px 1154px #fff, 140px 530px #fff, 911px 702px #fff,
    1261px 198px #fff, 868px 308px #fff, 1660px 1396px #fff, 883px 1036px #fff,
    490px 595px #fff, 842px 1826px #fff, 909px 1458px #fff, 1207px 1137px #fff,
    1510px 486px #fff, 450px 284px #fff, 1057px 1671px #fff, 1525px 619px #fff,
    1189px 876px #fff, 1189px 708px #fff, 661px 1013px #fff, 972px 1496px #fff,
    1835px 1783px #fff, 968px 1093px #fff, 344px 1701px #fff, 1074px 1637px #fff,
    266px 22px #fff, 357px 1835px #fff, 515px 520px #fff, 1025px 555px #fff,
    1774px 768px #fff, 628px 1840px #fff, 412px 166px #fff, 1633px 1416px #fff,
    532px 818px #fff, 1296px 218px #fff, 977px 1321px #fff, 1682px 1264px #fff,
    1878px 179px #fff, 1208px 67px #fff, 1066px 1878px #fff, 714px 145px #fff,
    521px 420px #fff, 707px 1648px #fff, 1184px 1332px #fff, 1772px 1085px #fff,
    396px 534px #fff, 1241px 388px #fff, 206px 1471px #fff, 265px 1358px #fff,
    462px 55px #fff, 1721px 727px #fff, 338px 1887px #fff, 1880px 724px #fff,
    143px 1822px #fff, 1703px 1014px #fff, 1064px 1514px #fff, 308px 157px #fff,
    1304px 984px #fff, 1328px 1775px #fff, 710px 1488px #fff, 30px 985px #fff,
    637px 1012px #fff, 1665px 1675px #fff, 345px 310px #fff, 1488px 216px #fff,
    748px 851px #fff, 1773px 752px #fff, 1177px 356px #fff, 1935px 854px #fff,
    116px 48px #fff, 33px 1824px #fff, 1522px 481px #fff, 448px 1843px #fff,
    776px 1089px #fff, 1329px 1703px #fff, 478px 200px #fff, 1600px 1300px #fff,
    887px 1080px #fff, 305px 345px #fff, 702px 810px #fff, 946px 1277px #fff,
    530px 580px #fff, 226px 1471px #fff, 1843px 45px #fff, 1458px 938px #fff,
    283px 734px #fff, 1874px 54px #fff, 656px 1905px #fff, 767px 1387px #fff,
    1719px 206px #fff, 1705px 1401px #fff, 1088px 761px #fff, 802px 1379px #fff,
    1607px 260px #fff, 1020px 175px #fff, 212px 1913px #fff, 1694px 1524px #fff,
    1051px 723px #fff, 894px 307px #fff, 875px 1160px #fff, 101px 296px #fff,
    1037px 1317px #fff, 1630px 368px #fff, 1216px 106px #fff, 630px 416px #fff,
    1984px 1947px #fff, 1760px 260px #fff, 280px 597px #fff, 1682px 1062px #fff,
    1940px 1610px #fff, 221px 1074px #fff, 1510px 810px #fff, 1492px 1782px #fff,
    142px 1029px #fff, 1989px 26px #fff, 857px 210px #fff, 1509px 1748px #fff,
    247px 1709px #fff, 281px 1843px #fff, 628px 1224px #fff, 1321px 1059px #fff,
    556px 1688px #fff, 1589px 1198px #fff, 1960px 1008px #fff, 104px 1272px #fff,
    1296px 452px #fff, 1041px 1505px #fff, 1582px 915px #fff, 335px 1171px #fff,
    1942px 248px #fff, 1320px 1751px #fff, 308px 1013px #fff, 895px 1256px #fff,
    1269px 50px #fff, 889px 1899px #fff, 1957px 1738px #fff, 1712px 165px #fff,
    1011px 1394px #fff, 1161px 1031px #fff, 525px 1323px #fff,
    1866px 1351px #fff, 717px 1448px #fff, 1129px 1568px #fff, 1686px 261px #fff,
    670px 1451px #fff, 1888px 1693px #fff, 1201px 1949px #fff,
    1334px 1855px #fff, 1218px 291px #fff, 600px 1198px #fff, 333px 1330px #fff,
    1023px 147px #fff, 921px 538px #fff, 1360px 1939px #fff, 1301px 84px #fff,
    258px 1498px #fff, 678px 1745px #fff, 1224px 202px #fff, 1543px 771px #fff,
    55px 412px #fff, 660px 88px #fff, 188px 459px #fff, 1637px 163px #fff,
    1774px 1283px #fff, 417px 1363px #fff, 293px 646px #fff;
}

#stars3 {
  width: 3px;
  z-index: 0;
  height: 3px;
  background: transparent;
  box-shadow: 1239px 1068px #fff, 1560px 311px #fff, 117px 1734px #fff,
    819px 1781px #fff, 920px 578px #fff, 1160px 259px #fff, 822px 1173px #fff,
    581px 1513px #fff, 444px 416px #fff, 1738px 844px #fff, 491px 29px #fff,
    514px 136px #fff, 998px 1637px #fff, 646px 755px #fff, 1927px 1848px #fff,
    76px 750px #fff, 959px 413px #fff, 723px 96px #fff, 125px 892px #fff,
    1690px 15px #fff, 1929px 256px #fff, 1108px 1605px #fff, 855px 1794px #fff,
    18px 524px #fff, 73px 423px #fff, 1590px 1590px #fff, 1956px 458px #fff,
    416px 1984px #fff, 1685px 1418px #fff, 966px 1141px #fff, 901px 879px #fff,
    1454px 1925px #fff, 1250px 1126px #fff, 1137px 1846px #fff,
    1712px 806px #fff, 966px 982px #fff, 946px 538px #fff, 242px 945px #fff,
    1285px 355px #fff, 37px 1050px #fff, 434px 1005px #fff, 1141px 26px #fff,
    1912px 1111px #fff, 230px 881px #fff, 1687px 1746px #fff, 167px 118px #fff,
    550px 499px #fff, 878px 1017px #fff, 844px 910px #fff, 845px 1330px #fff,
    1648px 1319px #fff, 724px 367px #fff, 262px 552px #fff, 818px 652px #fff,
    870px 1952px #fff, 1409px 800px #fff, 1732px 352px #fff, 630px 384px #fff,
    1876px 1452px #fff, 290px 177px #fff, 1813px 69px #fff, 482px 1751px #fff,
    778px 1427px #fff, 1841px 1679px #fff, 163px 672px #fff, 1046px 1535px #fff,
    987px 1547px #fff, 1382px 1960px #fff, 1358px 200px #fff, 1284px 81px #fff,
    1943px 1333px #fff, 1690px 1392px #fff, 989px 1979px #fff, 314px 1459px #fff,
    763px 1952px #fff, 279px 863px #fff, 1092px 913px #fff, 984px 227px #fff,
    309px 1627px #fff, 298px 1502px #fff, 1799px 1614px #fff, 1613px 1518px #fff,
    1850px 426px #fff, 890px 66px #fff, 1226px 1772px #fff, 1085px 1080px #fff,
    867px 468px #fff, 1227px 1163px #fff, 1908px 1994px #fff, 1761px 673px #fff,
    237px 1803px #fff, 1242px 1451px #fff, 1312px 286px #fff, 427px 295px #fff,
    264px 682px #fff, 558px 963px #fff, 1104px 1778px #fff, 1639px 95px #fff,
    1292px 243px #fff, 552px 637px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  z-index: 0;
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1239px 1068px #fff, 1560px 311px #fff, 117px 1734px #fff,
    819px 1781px #fff, 920px 578px #fff, 1160px 259px #fff, 822px 1173px #fff,
    581px 1513px #fff, 444px 416px #fff, 1738px 844px #fff, 491px 29px #fff,
    514px 136px #fff, 998px 1637px #fff, 646px 755px #fff, 1927px 1848px #fff,
    76px 750px #fff, 959px 413px #fff, 723px 96px #fff, 125px 892px #fff,
    1690px 15px #fff, 1929px 256px #fff, 1108px 1605px #fff, 855px 1794px #fff,
    18px 524px #fff, 73px 423px #fff, 1590px 1590px #fff, 1956px 458px #fff,
    416px 1984px #fff, 1685px 1418px #fff, 966px 1141px #fff, 901px 879px #fff,
    1454px 1925px #fff, 1250px 1126px #fff, 1137px 1846px #fff,
    1712px 806px #fff, 966px 982px #fff, 946px 538px #fff, 242px 945px #fff,
    1285px 355px #fff, 37px 1050px #fff, 434px 1005px #fff, 1141px 26px #fff,
    1912px 1111px #fff, 230px 881px #fff, 1687px 1746px #fff, 167px 118px #fff,
    550px 499px #fff, 878px 1017px #fff, 844px 910px #fff, 845px 1330px #fff,
    1648px 1319px #fff, 724px 367px #fff, 262px 552px #fff, 818px 652px #fff,
    870px 1952px #fff, 1409px 800px #fff, 1732px 352px #fff, 630px 384px #fff,
    1876px 1452px #fff, 290px 177px #fff, 1813px 69px #fff, 482px 1751px #fff,
    778px 1427px #fff, 1841px 1679px #fff, 163px 672px #fff, 1046px 1535px #fff,
    987px 1547px #fff, 1382px 1960px #fff, 1358px 200px #fff, 1284px 81px #fff,
    1943px 1333px #fff, 1690px 1392px #fff, 989px 1979px #fff, 314px 1459px #fff,
    763px 1952px #fff, 279px 863px #fff, 1092px 913px #fff, 984px 227px #fff,
    309px 1627px #fff, 298px 1502px #fff, 1799px 1614px #fff, 1613px 1518px #fff,
    1850px 426px #fff, 890px 66px #fff, 1226px 1772px #fff, 1085px 1080px #fff,
    867px 468px #fff, 1227px 1163px #fff, 1908px 1994px #fff, 1761px 673px #fff,
    237px 1803px #fff, 1242px 1451px #fff, 1312px 286px #fff, 427px 295px #fff,
    264px 682px #fff, 558px 963px #fff, 1104px 1778px #fff, 1639px 95px #fff,
    1292px 243px #fff, 552px 637px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
