:root {
  --red: #d6001c;
  --green: #00873e;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  background-color: transparent;
  position: fixed;
  min-width: 800px;
  width: 50%;
  z-index: 4;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  text-wrap: nowrap;

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    list-style: none;

    li {
      color: white;
      font-size: 1.2rem;
    }
  }

  div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: white;
}

#logo {
  width: 3rem;
  height: 3rem;
}

#logo-container {
  font-size: large;
  font-weight: bold;
}
#image-gallery {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 32px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  max-width: 1200px;
}

.gallery-image {
  max-width: 300px;
  max-height: 300px;
  border-radius: 16px;
  transition: 200ms ease-in-out;
}

.gallery-image:hover {
  transform: perspective(700px) rotateX(25deg) rotateY(30deg);
}

button {
  background-color: var(--green);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #005f2f;
}

#login-btn {
  background-color: transparent;
}

#language-btn {
  background-color: transparent;
}

#language-img {
  width: 8px;
  height: 8px;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#center-box {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  gap: 100px;
}

#tree-container {
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  /* background: red; */
}

#tree {
  height: 100%;
  z-index: 1;
}

.green-glow-ball {
  position: absolute;
  z-index: 0;
  width: 250px;
  height: 250px;
  background-color: var(--green);
  opacity: 0.5;
  border-radius: 50%;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(50px);
  animation: glow 1s infinite;
}

#slider {
  width: 100%;
  height: 100%;
  background-color: #21223b;
  display: flex;
  overflow: hidden;
  border-radius: 32px;
  position: relative;

  button {
    position: absolute;
    background-color: transparent;
    width: 50%;
    font-size: 64px;
    display: flex;
    padding: 0px 40px;
  }
}

#prev-btn {
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: start;
}

#next-btn {
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: end;
}

.slide {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.hr {
  width: 100%;
  height: 1px;
  background: black;
  opacity: 0.2;
}

.trail {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: red;
  z-index: 100;
  animation: drop 1s forwards;
  pointer-events: none;
}

@keyframes drop {
  100% {
    opacity: 0;
  }
}